node_modules
bower_components
release
vendor
phpunit.xml
.idea
plugins
uploads
upgrade
cache
themes/mulphy
themes/twentytwentytwo
themes/mulphy-starter/build

# Project Files
dist
backstop_data

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
.vscode

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini